@font-face {
  font-family: norseBold;
  src: url("./assets/Norse-Bold.otf");
}

:root {
  --color: #f5e7e7;
}

* {
  font-size: clamp(1rem, 1vw, 2rem); /* Adjust these values as needed */
}

body {
  margin: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

img {
  position: absolute;
  width: 100%;
  transform: scaleX(-1);
  z-index: -1;
}

.container {
  width: clamp(10rem, 80%, 50rem);

  border: 1rem solid var(--color);
  border-radius: 0.75rem;

  display: flex;
  gap: 0.25rem;
}

.odin-container {
  border-radius: 0.35rem;

  display: flex;
  align-items: center;
  flex: 1;

  outline: 5px solid var(--color);
  position: relative;
}

.odin-title {
  font-family: norseBold;
  font-size: 3rem;
  color: var(--color);
  padding-top: 1rem;
}

.odin-container::before {
  content: "";
  background-color: rgba(80, 73, 73, 0.261);
  filter: blur(4px);

  top: 0;
  left: 0;
  position: absolute;

  height: 100%;
  width: 100%;
  z-index: -1;
}

.odin-container::after {
  content: "";
  background-color: var(--color);
  right: -1rem;
  top: 0;
  height: 100%;
  width: 1rem;

  position: absolute;
  z-index: -1;
}

.sign-up-container {
  background-color: var(--color);

  display: flex;
  flex: 1;

  outline: 2px solid var(--color);
  padding: 0.5rem;
}

.sign-up-container form > li {
  list-style-type: none;

  display: flex;
  flex-direction: column;
}
