@font-face {
  font-family: norseBold;
  src: url("./assets/Norse-Bold.otf");
}

:root {
  --color: #f5e7e7;
  --secondary-color: #a6888e;
}

* {
  font-size: clamp(1rem, 1vw, 2rem); /* Adjust these values as needed */
}

body {
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

img {
  position: absolute;
  width: 100%;
  transform: scaleX(-1);
  z-index: -1;
}

.artist-credit {
  color: white;

  font-size: 0.75rem;

  bottom: 0;
  left: 50%;
  position: fixed;

  transform: translateX(-50%);
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  font-size: inherit;
}

.container {
  width: clamp(30rem, 50%, 50rem);

  border: 1rem solid var(--color);
  border-radius: 0.75rem;

  display: flex;
  gap: 0.25rem;
}

.odin-container {
  border-radius: 0.35rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  flex: 1;

  outline: 5px solid var(--color);
  position: relative;
}

.odin-title {
  font-family: norseBold;
  font-size: 3rem;
  color: var(--color);
  padding-top: 1rem;
}

.odin-container::before {
  content: "";
  background-color: rgba(79, 68, 68, 0.4);
  backdrop-filter: blur(4px);

  top: 0;
  left: 0;
  position: absolute;

  height: 100%;
  width: 100%;
  z-index: -1;
}

.odin-container::after {
  content: "";
  background-color: var(--color);
  right: -1rem;
  top: 0;
  height: 100%;
  width: 1rem;

  position: absolute;
  z-index: -1;
}

.logo-title {
  display: flex;
  justify-content: flex-start;
}

.sign-up-text {
  color: white;
  font-weight: 600;
  padding: 2rem 4rem;
}

.sign-up-container {
  background-color: var(--color);

  display: flex;
  justify-content: center;
  flex: 0.5;

  outline: 2px solid var(--color);
  padding: 1rem;
  padding-right: 0.25rem;
}

.sign-up-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-up-container form > li {
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

.sign-up-container form > li label {
  font-size: 0.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.sign-up-container form > li input {
  border: 2px solid rgb(219, 205, 205);
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.86);

  color: var(--secondary-color);

  outline: 0px solid transparent;
  padding: 0.25rem;

  transition: outline 100ms ease-in-out;
}

.sign-up-container form > li input:focus {
  outline: 3px solid #a6888e2b;
}

.sign-up-container form > li input:valid {
  outline-color: rgba(0, 128, 0, 0.5);
}

.sign-up-container form > li input:invalid {
  outline-color: rgba(255, 0, 0, 0.5);
}

form hr {
  width: 98%;
  border: 1px solid rgb(219, 205, 205);
}

form button {
  cursor: pointer;
  color: var(--secondary-color);
}

form button[type="submit"] {
  background: white;
  border: 2px solid rgb(219, 205, 205);
  border-radius: 0.25rem;

  padding: 0.25rem;

  width: 100%;
}

form button[type="button"] {
  background-color: transparent;
  border: none;
  font-size: 0.75rem;
  padding: 0;
  text-decoration: underline;
}

form p {
  color: var(--secondary-color);
  font-size: 0.75rem;
}
